<div class="tac"><div id="but1" class="but">&nbsp;<span class="e1">Zobrazit menu</span>&nbsp;</div></div>
<menu id="ma"><div id="jst1" class="e1">
{var $staryObal = FALSE}
{foreach $basicMenu as $row}{if App\Model\MyUtils::testVar($row->obal)}{if $staryObal}</div>{/if}<div class="{$row->obal}">{php $staryObal = TRUE}{else}{var $newUrl = App\Model\MyUtils::fillVar($row->ref('stranka')->url,NULL)}<a n:href="Homepage:default,url => $newUrl"{ifset $stranka}{if $stranka->id == $row->ref('stranka')->id} class="act"{/if}{/ifset}><li>{capture $temp}{App\Model\MyUtils::fillVar($row->alternativni_napis,$row->ref('stranka')->rubrika)}{/capture}{if $nastaveni->get('menu_vse_velke')->hodnota === 'a'}{$temp|upper}{else}{$temp}{/if}</li></a>{/if}{/foreach}{if $staryObal}</div>{php $staryObal = FALSE}{/if}
</div></menu></div><div id="text">
