{block photoMiniatur}{ifset $posunXY}<div {ifset $id}id="{$id}" {/ifset}class="prev">{/ifset}<img src="/images/gallery/all/thumbs/s/{block photoFilename}{$row->id}.{$row->fileextension}{/block}" class="{$row->tvar}"{ifset $posunXY}{if $row->tvar != ctverec} style="{$row->tvar === nasirku ? right : bottom}: {$row->nahled_posun}%"{/if}{/ifset} alt="{$attrAlt}">{ifset $posunXY}</div>{/ifset}{/block}