<div class="col1" n:ifset="$stranka->obsah_html_nahore">
{$stranka->obsah_html_nahore|noescape}
</div>
{ifset $galleryTable, $galleryAttrAlt}
{include 'photoGallery.latte', galleryTable => $galleryTable, galleryAttrAlt => $galleryAttrAlt}
{/ifset}