html,body{
font-family: Arial, sans-serif;
font-size:16px;
line-height:1.6;}
menu li,h1{
line-height:1.2;}
#user{
line-height:1;}
h1{
font-size:1.5em;font-size:1.5rem;}
h2{
font-size:1.3em;font-size:1.3rem;}
menu,.but{
font-size:1.1em;font-size:1.1rem;}
menu li li{
font-size:0.9em;font-size:1rem;}
#cr,#head{
font-size:0.9em;font-size:0.9rem;}
#user{
font-size:0.8em;font-size:0.8rem;}
#user{
position:absolute;}
#text,#cr{
position:relative;}
#user{
right:0px;
top:0px;}
#user{
z-index:11;}
#cr{
z-index: 10;}
#text{
z-index: 1;}
.tifl{
float:left;}
.tifr,#mlog{
float:right;}
.odznova{
clear:both;}
.col2,.col3,.col4{
box-sizing:border-box;}
#but1,#but1 .e2{
display:none;}
.but,#user,.prev,ul.galul li,.col2,.col3,.col4,#map,#text,#slog,#mlog{
display:inline-block;}
menu,ul.galul{
list-style-type:none;}
body,menu,ul.galul{
margin: 0;}
#slog{
padding-top:23px;
padding-bottom:23px;}
p, div img:only-child.texy,.but.back{
margin-top:1em;margin-top:1rem;
margin-bottom:1em;margin-bottom:1rem;}
#ma li,h1{
margin-top:0.8em;margin-top:0.8rem;
margin-bottom:0.8em;margin-bottom:0.8rem;}
h1{
margin-top:0em;margin-top:0rem;}
ul li{
margin-bottom:0.5em;margin-bottom:0.5rem;}
.but.back.e1{
margin-top:0;}
.but.back.e3{
margin-bottom:0;}
#pack,.but{
margin-left:auto;margin-right:auto;}
.tifl{
margin-right:0.7em;}
.tifr{
margin-left:0.7em;}
menu,ul.galul,#head{
padding:0;}
.but{
padding:0.3em;padding: 0rem 1rem 0.1rem 1rem;}
ul.galul li{
padding:0.2em;padding:0.2rem;}
#cr{
padding:0.15em;padding:0.15rem;}
menu#ma{
padding-bottom:0.5em;padding-bottom:0.5rem;}
#ma div.modd{
padding: 0.3em 0em 0em 0.5em;padding: 0.3rem 0rem 0rem 0.5rem;}
#ma div.mitm{
padding:0.4em 0.5em;padding:0.4rem 0.5rem;}
#ma li li{
padding-left:0.5em;padding-left:0.5rem;}
#slog{
padding-left:1em;padding-left:1rem;}
#mlog{
padding-right:1em;padding-right:1rem;}
#text div#jst2{
padding:1em 1.5em 1em 1.5em;padding:1rem 1.5rem 1rem 1.5rem;}
.col2,.col3,.col4{
padding-left:1em;padding-left:1rem;
padding-right:1em;padding-right:1rem;}
#head{
height:64px;}
#pack{
max-width: 1450px;}
body{
min-width:750px;}
#mlog{
height:64px;width:60px;}
.prev img{
height:100px;width: auto;}
img.texy{
width:100%;height: auto;}
#all{
width:100%;}
#text{
width:80%}
#map{
width:12em;width:12rem;}
#but1{
width:8em;width:12rem;}
.but,#ma li{
font-weight:bold;}
.but.back, #ma li li{
font-weight:normal;}
#ma li li{
font-style:italic;}
menu a,.but a,a .but,a.gala,#head a{
text-decoration:none;}
.tdu{
text-decoration:underline;}
#text ul.galul,#head{
text-align:left;}
.but,.tac,h1,#cr{
text-align:center;}
p,#text ul{
text-align:justify;}
.tar{
text-align:right;}
#map,#text,td{
vertical-align:top;}
div.mitm.act,#text,#pack{
background-color:#fff;}
.but,.but a,menu,menu a{
color:#fff;}
menu li.lili{
border: 1px solid #fff;
border-right: 0px;}
body,div.mitm.act,#cr a,#head a{
color:#000;}
.but{
background-color: #000;}
.prev img{
border: 1px solid #000;}
body,#all{
background-color:#eee;}
#cr{
background-color:#ddd;}
#pack2,#ma{
background-color:#00cc00;}
#head{
background-color:#fdf700;}
a{
color:#0000ff;}
#head{
background-image: url('kuvava-spektrum-5-1-1-s.png');
background-repeat: repeat-x;
background-position: left center;}
#head{
display: flex;
align-items: center; 
justify-content: space-between;}
#pack2{
background-image: url('bily-pruh.png');
background-position: 12em 0em;background-position: 12rem 0rem;
background-repeat: repeat-y;}
.but{
cursor:pointer;}


#test{height: 1px;width: 100px;}
@media screen and (max-width: 1000px){
#text{
width: 75%;}
}
@media screen and (max-width: 800px){
html,body{
font-size:14px;}
body{
min-width:370px;}
}
@media screen and (max-width: 750px){
#text{
width: 70%;}
}
@media screen and (max-width: 600px){
#map{
width:10rem;}
#pack2{
background-position: 10rem 0rem;}
}
@media screen and (max-width: 500px){
#map{
width:7rem;}
#pack2{
background-position: 7rem 0rem;}
#text{
width: 73%;}
}
@media screen and (max-width: 400px){
#test{width:11px;}
html,body{
font-size:12px;
line-height: 1.7;}
body{
min-width:260px;}
#map{
width: 100%;
display: block;}
#text{
width: 100%;}
html.js #but1{
display: block;}
html.js #ma{
display:none;}
#ma div.modd{
padding-left: 1rem;
padding-right: 1rem;}
#ma li li{
padding: inherit 0.5rem;}
.but{
padding: 1rem;}
menu li{
text-align: center;}
#pack2{
background-image: none;}
#slog{
padding-left:0.3rem;}
#mlog{
padding-right:0.3rem;}
}
@media screen and (min-width: 1200px){
html,body{
font-size:18px;}
}

/*Nette*/
#ajax-spinner{
margin: 15px 0 0 15px;
padding: 13px;
background: white url('../images/spinner.gif') no-repeat 50% 50%;
font-size: 0;
z-index: 123456;
display: none;}
div.flash,#user{
color: #ffffff;
background: #138000;
border: 1px solid #E2C822;
padding: 1em;
margin: 1em 0;
text-align:center;}
#user{margin:0;padding:0.2em;padding:0.2rem;}
fr a, #user a{
color:#9bbddf;}
div.flash.fr{
background-color:#5e0010;
color:#ffffff;}
a[href^="#error:"]{
background: red;
color: white;}
form th, form td{
vertical-align: top;
font-weight: normal;}
form th{
text-align: right;}
form .required label{
font-weight: bold;}
form .error{
color: #D00;
font-weight: bold;}